@page
@model IndexModel
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <dl>
        <dt>Pod Namespace</dt>
        <dd>@configuration["Pod:Namespace"]</dd>
    </dl>
    <dl>
        <dt>Pod Name</dt>
        <dd>@configuration["Pod:Name"]</dd>
    </dl>
    <dl>
        <dt>Pod IP</dt>
        <dd>@configuration["Pod:Ip"]</dd>
    </dl>
</div>
